# Yocto
build/
tmp/
sstate-cache/
downloads/

# Logs
*.log

# Python
__pycache__/

# VS Code
.vscode/

# Doxygen
doxygen/generated/

# Temporary
*.tmp
*.swp

# Yocto upstream repositories
yocto/sources/poky/
yocto/sources/meta-raspberrypi/
yocto/sources/meta-openembedded/

# Yocto caches/build artifacts
yocto/downloads/
yocto/sstate-cache/
yocto/sources/poky/build/
